[Unit]
Description=iotuploader service
After=network.target

[Service]
Type=notify
User=iotuploader
Group=iotuploader
RuntimeDirectory=iotuploader
EnvironmentFile=/home/iotuploader/.dev_iotenv
WorkingDirectory=/home/iotuploader/iot-uploader-dev
ExecStart=/usr/local/bin/gunicorn --config /home/iotuploader/iot-uploader-dev/dev/gunicorn.conf.py iotuploader.main:app
ExecReload=/bin/kill -s HUP $MAINPID
KillMode=mixed
TimeoutStopSec=5
PrivateTmp=true

[Install]
WantedBy=multi-user.target

