{% extends "pagination.html" %}

{% block head_contents %}
    <style>
        .table th:first-child {
            position: sticky;
            left: 0;
            background-color: white;
        }
    </style>
{% endblock %}

{% block page_contents %}
  {% block before_table %}
  {% endblock %}

  <table class="table table-bordered table-responsive">

    <thead>
      {% block thead %}
      {% endblock %}
    </thead>
    <tbody>
      {% block tbody %}
      {% endblock %}
    </tbody>
  </table>
{% endblock %}

