{% extends "pagination.html" %}

{% block page_contents %}
  {% for d in images %}
    <div class="card col mb-2">
      <div class="row g-0 ">
        <div class="col-4 bg-light pt-3 ">
          <a href="/tools/static/{{ d.file }}">
            <img src="/tools/static/{{ d.file }}" width="100%" class="img-fluid">
          </a>
        </div>
        <div class="col">
          <div class="card-body ">
            <table class="table table-bordered table-responsive ">
              <tr><th>id</th><td>{{ d.id }}</td></tr>
              <tr><th>upload_id</th><td>
                <a href="./uploads?id={{ d.upload_id or "" }}">
                  {{ d.upload_id or "" }}
                </a>
                <a href="?upload_id={{ d.upload_id or "" }}">
                  <i class="bi-filter-square"></i>
                </a>
              </td></tr>
              <tr><th>camera_id</th><td>
                {{ d.camera_id or "" }}
                <a href="?camera_id={{ d.camera_id or "" }}">
                  <i class="bi-filter-square"></i>
                </a>
              </td></tr>
              <tr><th>sensor_name</th><td>
                <a href="./sensors?sensor_name={{ d.sensor_name or "" }}">
                  {{ d.sensor_name or "" }}
                </a>
                <a href="?sensor_name={{ d.sensor_name or "" }}">
                  <i class="bi-filter-square"></i>
                </a>
              </td></tr>
              <tr><th>name</th><td>{{ d.name }}</td></tr>
              <tr><th>reading_setting_id</th><td>{{ d.reading_setting_id }}</td></tr>
              <tr><th>timestamp</th><td>{{ d.timestamp }}</td></tr>
              <tr><th>data_link</th><td>
                <a href="/tools/static/{{ d.file }}" class="btn btn-primary btn-sm">file</a>
                <a href="/tools/static/{{ d.overlay_file }}" class="btn btn-primary btn-sm">overlay_file</a>
                <a href="./sensordata?upload_id={{ d.upload_id }}" class="btn btn-primary btn-sm">sensor_data</a>
              </td></tr>
            </table>
          </div>
        </div>
      </div>
    </div>
  {% endfor %}
{% endblock %}

