{% extends "base.html" %}

{% block head_contents %}
    <style>
      .btn-primary[disabled] { background-color: #AAAACC; }
    </style>
{% endblock %}

{% block body_contents %}

  <div class="row pt-3">
    <div class="col-2 p-3 d-flex align-items-end justify-content-end">
    </div>
    <div class="col m-0 p-0 g-0">
      <div class="row justify-content-center">
        <canvas id="preview" class="m-0 p-0 g-0" width="{{ preview_w }}" height="{{ preview_h }}" style="background-color: #EEEEEE;"> </canvas>
      </div>
    </div>
    <div class="col-2 p-3 d-flex align-items-end">
    </div>
  </div>

  <div class="row p-3">
    <form class="col-lg p-0 mt-0 mb-3">

      <div class="row row-cols-auto p-1 m-1 border">
        <div class="col">
          <div class="form-check form-check-inline">
            <input id="not_read" class="form-check-input" type="checkbox">
            <label for="not_read" class="form-check-label col-form-label">読み取り無効</label>
          </div>
        </div>
      </div>

      <div class="row row-cols-auto p-1 m-1 border">
        <div class="col-3 ">
          <div class="form-check form-check-inline">
            <input id="labeled" class="form-check-input" type="checkbox">
            <label for="labeled" class="form-check-label col-form-label">ラベルデータ設定</label>
          </div>
        </div>
        <div class="col ">
          <div class="row ">
{% for i in range(setting.rects | length) %}
            <label for="labeled_r{{ i }}" class="col-1 col-form-label text-right">r{{ i }}</label>
            <input id="labeled_r{{ i }}" class="col-1 form-control dmrect" type="number" min="0" max="9">
{% endfor %}
          </div>
        </div>
      </div>

{% for i in range(setting.rects | length) %}
      <div class="form-group row row-cols-auto p-1 m-1 border">
        <legend class="col col-form-label bg-light">rect{{ i }}</legend>
        <label for="r{{ i }}_x" class="col-1 col-form-label text-right">x</label>
        <input id="r{{ i }}_x" class="col form-control dmrect" type="number">
        <label for="r{{ i }}_y" class="col-1 col-form-label text-right">y</label>
        <input id="r{{ i }}_y" class="col form-control dmrect" type="number">
        <label for="r{{ i }}_w" class="col-1 col-form-label text-right">w</label>
        <input id="r{{ i }}_w" class="col form-control dmrect" type="number">
        <label for="r{{ i }}_h" class="col-1 col-form-label text-right">h</label>
        <input id="r{{ i }}_h" class="col form-control dmrect" type="number">
        <label for="r{{ i }}_th" class="col-1 col-form-label text-right">th</label>
        <input id="r{{ i }}_th" class="col form-control" type="number">
      </div>
{% endfor %}

      <div class="form-group row p-1 m-1 border">
        <label for="upload-rect" class="col-2 col-form-label bg-light">Upload rect.csv</label>
        <input type="file" class="col form-control-file" id="upload-rect">
      </div>
      <div class="form-group row p-1 m-1 border">
        <label for="wifc" class="col-2 col-form-label bg-light">Upload wi-fc.csv</label>
        <input type="file" class="col form-control-file" id="wifc">
      </div>
      <div class="row m-1 p-1 justify-content-end">
        <span id="result" class="col"></span>
        <a type="button" id="dl-rect" href="/tools/readingsetting/rect.csv?image_id={{ image_id }}&v={{ js_version }}" class="btn btn-secondary col-2 mr-3">Download rect.csv</a>
        <a type="button" id="dl-wifc" href="/tools/readingsetting/wi-fc.csv?image_id={{ image_id }}&v={{ js_version }}" class="btn btn-secondary col-2 mr-3">Download wi-fc.csv</a>
        <button type="button" id="test" class="btn btn-secondary col-2 mr-5">Test</button>
        <button type="button" id="save" class="btn btn-primary col-3" disabled>Save</button>
      </div>
    </form>
  </div>
{% endblock %}

{% block script_contents %}
<script src="https://code.jquery.com/jquery-3.5.1.min.js" crossorigin="anonymous"></script>
  <script src="https://pixijs.download/release/pixi.js"></script>

  <script type="text/javascript">
    const imageUrl = "{{ image_url }}";
    const setting = {{ setting | tojson }};
  </script>
  <script src="/tools/static/readingsetting.js?v={{ js_version }}"></script>
{% endblock %}

