{% extends "datalist.html" %}
    {% block thead %}
      <th>id</th>
      <th>upload_id</th>
      <th>sensor_name</th>
      <th>sensor_type</th>
      <th>data</th>
      <th>note</th>
      <th>timestamp</th>
    {% endblock %}
    {% block tbody %}
      {% for d in sensor_data %}
      <tr>
      <th>{{ d.id }}</th>
      <td>
        <a href="./uploads?id={{ d.upload_id or "" }}">
          {{ d.upload_id or "" }}
        </a>
        <a href="?upload_id={{ d.upload_id or "" }}">
          <i class="bi-filter-square"></i>
        </a>
      </td>
      <td>
        <a href="./sensors?sensor_name={{ d.sensor_name or "" }}">
          {{ d.sensor_name or "" }}
        </a>
        <a href="?sensor_name={{ d.sensor_name or "" }}">
          <i class="bi-filter-square"></i>
        </a>
      </td>
      <td>
        {{ d.sensor_type or "" }}
        <a href="?sensor_type={{ d.sensor_type or "" }}">
          <i class="bi-filter-square"></i>
        </a>
      </td>
      <td>{{ d.data }}</td>
      <td>{{ d.note or "" }}</td>
      <td class="text-nowrap">{{ d.timestamp }}</td>
      </tr>
      {% endfor %}
    {% endblock %}

