{% extends "datalist.html" %}
  {% block before_table %}
  <form class="border pt-2 mb-2" method="POST" enctype="multipart/form-data">
    <div class="form-group row">
      <label class="col-4 col-form-label" for="file">センサー定義(CSV)アップロード</label>
      <input type="file" class="form-control-file col-6" name="file" id="file">
      <button type="submit" class="btn btn-primary form-control col-1">送信</button>
    </div>
  </form>
  {% endblock %}

    {% block thead %}
      <th>id</th>
      <th>sensor_name</th>
      <th>sensor_type</th>
      <th>factory</th>
      <th>building</th>
      <th>equipment</th>
      <th>mac_address</th>
      <th>timestamp</th>
    {% endblock %}

    {% block tbody %}
      {% for d in sensors %}
      <tr>
      <th>{{ d.id }}</th>
      <td>{{ d.sensor_name or "" }}</td>
      <td>
        {{ d.sensor_type or "" }}
        <a href="?sensor_type={{ d.sensor_type or "" }}">
          <i class="bi-filter-square"></i>
        </a>
      </td>
      <td>{{ d.factory or "" }}</td>
      <td>{{ d.building or "" }}</td>
      <td>{{ d.equipment or "" }}</td>
      <td>{{ d.mac_address or "" }}</td>
      <td class="text-nowrap">{{ d.timestamp }}</td>
      </tr>
      {% endfor %}
    {% endblock %}

