{% extends "base.html" %}

{% block head_contents %}
    <style>
        .table th {
            #background-color: white;
	}
        .table th:first-child {
            position: sticky;
            left: 0;
            #background-color: white;
        }
        i.bi-download {
            font-size: 0.8rem;
        }
    </style>
{% endblock %}

{% block body_contents %}
  <div id="table-container" style="overflow: auto;">
  <table class="table table-bordered ">

    <thead class="sticky-top thead-light">
      <th class="">sensor_name</th>
      <th class="">sensor_type</th>
      <th>latest_upload</th>
      {% for i in range(24) %}
        <th id="header_{{ i }}">{{ '%02d' % i }}:00</th>
      {% endfor %}
    </thead>

    <tbody>
      {% for s in sensors %}     	
        <tr>
        <th id="{{ s.sensor_name }}_name" class="bg-light text-nowrap">
          <i id="{{ s.sensor_name }}_icon" class="bi-brightness-low-fill"></i>
          {{ s.sensor_name }}
        </th>
        <td class="">
          {{ s.sensor_type }}
        </td>
        <td id="{{ s.sensor_name }}_ts" class="text-nowrap">{{ s.timestamp }}</td>
        {% for i in range(24) %}
          <td id="{{ s.sensor_name }}_{{ i }}" class="text-right">{{ i }}</td>
        {% endfor %}
        </tr>
      {% endfor %}     	
    </tbody>

  </table>
  </div>
{% endblock %}

{% block script_contents %}
  <script>
    const sensors = {{ sensors | tojson }};
  </script>
  <script src="/tools/static/uploadcounts.js?v={{ js_version }}"></script>
{% endblock %}

