[Unit]
Description=iot-uploader service
After=network.target

[Service]
Type=notify
User=iotuploader
Group=iotuploader
RuntimeDirectory=iotuploader
EnvironmentFile=/opt/iotuploader/.iotenv
WorkingDirectory=/opt/iotuploader/src/iot-uploader
ExecStart=/opt/iotuploader/bin/gunicorn --config /opt/iotuploader/conf/uploader.conf.py iotuploader.uploader:app
ExecReload=/bin/kill -s HUP $MAINPID
KillMode=mixed
TimeoutStopSec=5
PrivateTmp=true

[Install]
WantedBy=multi-user.target

